import string
import random

s1= list(string.ascii_lowercase)
s2= list(string.ascii_uppercase)
s3= list(string.digits)
s4= list(string.punctuation)

user_input = input("How many characters do you want in your password? ")

while True:

    try:
        characters_num=int(user_input)
        if characters_num<8:
            print("Your password length should be at least 8 characters!")
            user_input=input("Please enter again: ")
        else:
            break
    except:
        print("Please enter only numbers.")

        user_input=input("How many characters do you want in your password? ")
random.shuffle(s1)
random.shuffle(s2)
random.shuffle(s3)
random.shuffle(s4)

part1=round(characters_num*(30/100))
part2=round(characters_num*(20/100))

result=[]

for x in range(part1):
    result.append(s1[x])
    result.append(s2[x])

for x in range(part2):
    result.append(s3[x])
    result.append(s4[x])

random.shuffle(result)
password="".join(result)
print(f"The password made for you:{password}")
